<style type="text/css">
/*#text-accueil{
	margin-top: 55%;
}*/
	.outer-accueil{
	  width: 100%;
	  height:100%;
	  display: flex;
	  align-items :center !important;
	  justify-content: center !important;
	}
	.text-accueil{
		
		margin :auto;
	}

	}
	.copyrighttext{
		color: blue;
		text-align: center;
		margin-bottom: -30px;
	}


</style>

<div layout="column" class="outer-accueil" layout-fill  layout-align="center center">
	  <div class="text-accueil"><span style="font-family: Courier, monospace !important; color:#FFF !important;font-size: 40px; line-height: 1.5 ">«Des transactions simples, rapides et  sûres»</span></div>
	  
</div>


<div style="color: #0C2275;text-align: center;margin-bottom: 30px; font-size: large;font-family: Courier, monospace !important; font-weight: bold;" >
	    © Mysafedeal 2017
	  </div>