<div layout-fill style="background-color: rgb(39,46,112) !important;" layout="column"  layout-align="none">
	<div layout-padding flex>
		<h3 style="color:#FFF !important">Mysafedeal Comment ça marche</h3>
	</div>
	<div flex >
		<div flex layout="column">
			<md-card style="background-color: rgb(39,46,112) !important;">
				<img flex  ng-src="img/etape-2_1.png" class="md-card-image" alt="Washed Out">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Vérification de l'identité de l'utilisateur</span>
					</md-card-title-text>
				</md-card-title>
			</md-card>
		</div>
	</div>