<div layout="column" style="height:100%" layout-padding layout-align="start stretch">

	<!-- <div flex="10"></div> -->
	<div ><h3 style="color:#FFF !important; font-family: Courier, monospace !important;">Mysafedeal <br/>Comment ça <br/>marche ?</h3></div>
	<div>
	<div flex-xs="66" flex-gt-sm="66" layout="column" layout-align="center center" layout-align-sm="center center">
			<div f>
			<md-card  style="background-color: rgb(39,46,112) !important;box-shadow:none !important;">
				<img  ng-src="{{urlImg}}" class="md-card-image" alt="Washed Out">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline" style="color:#FFF; font-family:  Courier, monospace !important">{{titleEtape}}</span>
					</md-card-title-text>
				</md-card-title>
			</md-card>
			</div>
		</div>
	</div>

</div>
