<md-input-container class="md-icon-float md-block">
    <label>Mot de passe</label>
    <md-icon md-svg-src="img/icons/ic_lock_outline_black_24px.svg" ></md-icon>
    <!-- ng-pattern="/^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).{8,}$/" -->
    <input type="password" name="password" ng-model="password"  ng-minlength="8" required>
    <message-error ng-show="form.password.$dirty" typechamp="form.password.$error" istype="password"></message-error>
</md-input-container>

<md-input-container class="md-icon-float md-block" ng-if="showVerifPassword">
    <label>Vérification mot de passe</label>
    <md-icon md-svg-src="img/icons/ic_lock_outline_black_24px.svg"></md-icon>
    <input type="password" name="verifpassword" ng-model="verifpassword" ng-pattern="password" ng-minlength="8" ng-disabled="form.password.$invalid" required>
    <message-error ng-if="showVerifPassword && form.verifpassword.$dirty" typechamp="form.verifpassword.$error" istype="vpassword"></message-error>
</md-input-container>