<div class="bar bar-header bar-assertive">
  <h1 class="title" style="text-align: left">Connexion</h1>
</div>
<ion-view title="Connexion" id="page2">
    <ion-content padding="false" class="has-header">
        <div>
            <img src="img/HB6xnT4GI5wvvEhfnoQR_fond-accueil.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="connexion-form1" class="list" ng-submit="login()">
            <ion-list id="connexion-list1" class="container-login">
                <label class="item item-input" id="connexion-input1">
                    <span class="input-label">Numero tel.</span>
                    <input required type="text" placeholder="" ng-model="user.username">
                </label>
                <label class="item item-input" id="connexion-input2">
                    <span class="input-label">Mots de passe</span>
                    <input required type="password" placeholder="" ng-model="user.pass">
                </label>
            </ion-list>
            <div id="connexion-button-bar1" class="button-bar"></div>
            <button type="submit" class="button button-positive  button-block">Entrer</button>
            <a ui-sref="signup" id="connexion-button2" class="button button-positive  button-block button-clear">Ou créer un compte</a>
        </form>
    </ion-content>
</ion-view>